<h1>Listing personeria</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personeria.each do |personerium| %>
  <tr>
    <td><%= personerium.Nombre %></td>
    <td><%= personerium.Descripcion %></td>
    <td><%= personerium.Estado %></td>

        <td><%= link_to 'Show', personerium %></td>
 
        <td><%= link_to 'Edit', edit_personerium_path(personerium) %></td>
  
        <td><%= link_to 'Destroy', personerium, confirm: 'Are you sure?', method: :delete %></td>
  
  </tr>
<% end %>
</table>

<br />

  <%= link_to 'New Personerium', new_personerium_path %>

