<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @personerium.Nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @personerium.Descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%= @personerium.Estado %>
</p>


    <%= link_to 'Edit', edit_personerium_path(@personerium) %> |

<%= link_to 'Back', personeria_path %>
