<p id="notice"><%= notice %></p>

<p>
  <b>Fechapago:</b>
  <%= @orden_cobro.FechaPago %>
</p>

<p>
  <b>Cantidadapagar:</b>
  <%= @orden_cobro.CantidadAPagar %>
</p>

<p>
  <b>Numrecibo:</b>
  <%= @orden_cobro.NumRecibo %>
</p>


<%= link_to 'Edit', edit_orden_cobro_path(@orden_cobro) %> |
<%= link_to 'Back', orden_cobros_path %>
