<h1>Listing estado_pagos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estado_pagos.each do |estado_pago| %>
  <tr>
    <td><%= estado_pago.Nombre %></td>
    <td><%= estado_pago.Descripcion %></td>
    <td><%= estado_pago.Estado %></td>
    <% if can? :read, EstadoPago %>
        <td><%= link_to 'Show', estado_pago %></td>
    <%end%>
    <td><%= link_to 'Edit', edit_estado_pago_path(estado_pago) %></td>
    <td><%= link_to 'Destroy', estado_pago, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estado pago', new_estado_pago_path %>
