<h1>Listing prioridads</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prioridads.each do |prioridad| %>
  <tr>
    <td><%= prioridad.Nombre %></td>
    <td><%= prioridad.Descripcion %></td>
    <td><%= prioridad.Estado %></td>

        <td><%= link_to 'Show', prioridad %></td>
   
        <td><%= link_to 'Edit', edit_prioridad_path(prioridad) %></td>
  
        <td><%= link_to 'Destroy', prioridad, confirm: 'Are you sure?', method: :delete %></td>
 
  </tr>
<% end %>
</table>

<br />

  <%= link_to 'New Prioridad', new_prioridad_path %>

