<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @prioridad.Nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @prioridad.Descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%= @prioridad.Estado %>
</p>


<%= link_to 'Edit', edit_prioridad_path(@prioridad) %> |

<%= link_to 'Back', prioridads_path %>
