<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @estado_cliente.Nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @estado_cliente.Descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%= @estado_cliente.Estado %>
</p>


    <%= link_to 'Edit', edit_estado_cliente_path(@estado_cliente) %> |

<%= link_to 'Back', estado_clientes_path %>
