<h1>Listing estado_odts</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estado_odts.each do |estado_odt| %>
  <tr>
    <td><%= estado_odt.Nombre %></td>
    <td><%= estado_odt.Descripcion %></td>
    <td><%= estado_odt.Estado %></td>

        <td><%= link_to 'Show', estado_odt %></td>

    <td><%= link_to 'Edit', edit_estado_odt_path(estado_odt) %></td>

    <td><%= link_to 'Destroy', estado_odt, confirm: 'Are you sure?', method: :delete %></td>
  <%end%>
  </tr>
<% end %>
</table>

<br />

  <%= link_to 'New Estado odt', new_estado_odt_path %>

