<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @estado_odt.Nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @estado_odt.Descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%= @estado_odt.Estado %>
</p>


  <%= link_to 'Edit', edit_estado_odt_path(@estado_odt) %>
 |
<%= link_to 'Back', estado_odts_path %>
