<h1>Listing trabajos</h1>

<table>
  <tr>
    <th>Trabajo</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th>Pago</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trabajos.each do |trabajo| %>
  <tr>
    <td><%= trabajo.Trabajo %></td>
    <td><%= trabajo.Descripcion %></td>
    <td><%= trabajo.Estado %></td>
    <td><%= trabajo.Pago %></td>

        <td><%= link_to 'Show', trabajo %></td>
 
        <td><%= link_to 'Edit', edit_trabajo_path(trabajo) %></td>
  
    <td><%= link_to 'Destroy', trabajo, confirm: 'Are you sure?', method: :delete %></td>

  </tr>
<% end %>
</table>

<br />

  <%= link_to 'New Trabajo', new_trabajo_path %>

