<p id="notice"><%= notice %></p>

<p>
  <b>Trabajo:</b>
  <%= @trabajo.Trabajo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @trabajo.Descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%= @trabajo.Estado %>
</p>

<p>
  <b>Pago:</b>
  <%= @trabajo.Pago %>
</p>


  <%= link_to 'Edit', edit_trabajo_path(@trabajo) %>|
<%= link_to 'Back', trabajos_path %>
