<h1>Listing barrios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Abreviacion</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @barrios.each do |barrio| %>
  <tr>
    <td><%= barrio.Nombre %></td>
    <td><%= barrio.Abreviacion %></td>
    <td><%= barrio.Estado %></td>
    
      <td><%= link_to 'Show', barrio %></td>
    
    
      <td><%= link_to 'Edit', edit_barrio_path(barrio) %></td>
 
      <td><%= link_to 'Destroy', barrio, confirm: 'Are you sure?', method: :delete %></td>
  
  </tr>
<% end %>
</table>

<br />

  <%= link_to 'New Barrio', new_barrio_path %>

