<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @barrio.Nombre %>
</p>

<p>
  <b>Abreviacion:</b>
  <%= @barrio.Abreviacion %>
</p>

<p>
  <b>Estado:</b>
  <%= @barrio.Estado %>
</p>


    <%= link_to 'Edit', edit_barrio_path(@barrio) %> |

<%= link_to 'Back', barrios_path %>
