<h1>Listing identificacions</h1>

<table>
  <tr>
    <th>Tipoidentificacion</th>
    <th>Personerium</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @identificacions.each do |identificacion| %>
  <tr>
    <td><%= identificacion.TipoIdentificacion %></td>
    <td><%= identificacion.personerium.Nombre %></td>

        <td><%= link_to 'Show', identificacion %></td>

        <td><%= link_to 'Edit', edit_identificacion_path(identificacion) %></td>

        <td><%= link_to 'Destroy', identificacion, confirm: 'Are you sure?', method: :delete %></td>
  
  </tr>
<% end %>
</table>

<br />

  <%= link_to 'New Identificacion', new_identificacion_path %>

