<p id="notice"><%= notice %></p>

<p>
  <b>Tipoidentificacion:</b>
  <%= @identificacion.TipoIdentificacion %>
</p>

<p>
  <b>Personeria:</b>
  <%= @identificacion.personerium.Nombre %>
</p>


    <%= link_to 'Edit', edit_identificacion_path(@identificacion) %> |

<%= link_to 'Back', identificacions_path %>
