<p id="notice"><%= notice %></p>

<p>
  <b>Tipoidentificacion:</b>
  <%= @identificacion.TipoIdentificacion %>
</p>

<p>
  <b>Numeroidentificacion:</b>
  <%= @identificacion.NumeroIdentificacion %>
</p>

<% if can? :update, Identificacion %>
    <%= link_to 'Edit', edit_identificacion_path(@identificacion) %> |
<%end%>
<%= link_to 'Back', identificacions_path %>
