<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="es" />

	<title>ProyectoADDS2</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body style= "background-color: #121212"> 

	<div id="contenedor">

	<div id="cabecera">
		<ul id="menu">
			<li><a href="#">Clientes</a>
				<ul>
					<li> <a href="#">Agregar Cliente</a></li>
					<li> <a href="#">Agregar Solicitud Rechazada</a></li>
				    	<li> <a href="#">Buscar/Modificar Cliente</a></li>
				</ul>
			</li>

			<li><a href="#">Cobros</a>
				<ul>
					<li><a href="#">Cobros a Realizar</a></li>
				    	<li><a href="#">Modificar un Cobro</a></li>
				</ul>				
			</li>

			<li><a href="#">Ordenes de Trabajo</a>
				<ul>
					<li><a href="#">Agregar Orden de Trabajo</a></li>
					<li><a href="#">Modificar una Orden de Trabajo</a></li>
					<li><a href="#">Ver Ordenes de Trabajo Pendientes</a></li>
				</ul>				
			</li>

			<li><a href="#">Reportes</a>
				<ul>
					<li><a href="#">Información de Clientes</a></li>
					<li><a href="#">Información de Cobros</a></li>
					<li><a href="#">Información de Ordenes de Trabajo</a></li>
					<li><a href="#">Solicitudes Rechazadas</a></li>
				</ul>				
			</li>
		    <%if user_signed_in? %>	
			<li><a href="#">Parametrizaciones</a>
				<ul>
					<li><a href="#">Barrios y Colonias</a>
                    <ul>
                      <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Barrio")%>
                        <li><%= link_to 'Agregar Barrio o Colonia', new_barrio_path %></li>
                      <%end%>
                      <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Barrio")%>
                        <li><%= link_to 'Modificar Barrio o Colonia', barrios_path %></li>
                      <%end%>
						</ul>
					</li>
					<li><a href="#">Cobros</a>
                    <ul>
                      <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Estado de Cobro")%>
                         <li><%= link_to 'Agregar Estado de Cobro', new_estado_cobro_path %></li>
                      <%end%>
                      <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Estado de Cobro")%>
                         <li><%= link_to 'Modificar Estado de Cobro', estado_cobros_path %></li>
                      <%end%>
						</ul>
					</li>
					<li><a href="#">Clientes</a>
                    <ul>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Estado de Cliente")%>
                              <li><%= link_to 'Agregar Estado del Cliente', new_estado_cliente_path %></li>
                            <%end%>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Identificaciones")%>
                              <li><%= link_to 'Agregar Tipo de Identificación', new_identificacion_path %></li>
                            <%end%>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Personeria")%>
                              <li><%= link_to 'Agregar Tipo de Personeria', new_personerium_path %></li>
                            <%end%>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Estado de Cliente")%>
                              <li><%= link_to 'Modificar Estado del Cliente', estado_clientes_path %></li>
                            <%end%>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Identificaciones")%>
                              <li><%= link_to 'Modificar Tipo de Identificación', identificacions_path %></li>
                            <%end%>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Personeria")%>
                              <li><%= link_to 'Modificar Tipo de Personeria', personeria_path %></li>
                            <%end%>
						</ul>
					</li>
					<li><a href="#">Backups</a>
                    <ul>
                      <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Parametros Generales")%>
                        <li> <%= link_to 'Modificar hora de backup', edit_parametros_generale_path(:id => 2) %></li>
                      <%end%>
						</ul>
					</li>
					<li><a href="#">Ordenes de Trabajo</a>
						<ul>
                          <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Estado de Orden de Trabajo")%>
                            <li><%= link_to 'Agregar Estado de Orden de Trabajo', new_estado_odt_path %></li>
                          <%end%>
                          <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Prioridades")%>
                            <li><%= link_to 'Agregar Nivel de Prioridad', new_prioridad_path %></li>
                          <%end%>
                          <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Trabajos")%>
                            <li><%= link_to 'Agregar Tipo de Trabajo a Realizar', new_trabajo_path %></li>
                          <%end%>
                          <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Estado de Orden de Trabajo")%>
                            <li><%= link_to 'Modificar Estado de Orden de Trabajo', estado_odts_path %></li>
                          <%end%>
                          <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Prioridades")%>
                            <li><%= link_to 'Modificar Nivel de Prioridad', prioridads_path %></li>
                          <%end%>
                          <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Trabajos")%>
							<li><%= link_to 'Modificar Tipo de Trabajo a Realizar', trabajos_path %></li>
                          <%end%>
                       </ul>
					</li>
					<li><a href="#">Pagos</a>
                    <ul>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Crear Estado de Pago")%>
                              <li><%= link_to 'Agregar Estado de Pago', new_estado_pago_path %></li>
                            <%end%>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Estado de Pago")%>
                              <li><%= link_to 'Modificar Estado de Pago', estado_pagos_path %></li>
                            <%end%>
							<%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Parametros Generales")%>
                              <li> <%= link_to 'Modificar Fecha de Pago', edit_parametros_generale_path(:id => 2) %></li>
                            <%end%>
                            <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Servicios")%>
                              <li> <%= link_to 'Modificar Precios', servicios_path%> </li>
                            <%end%>

						</ul>					
					</li>
					<li><a href="#">Servicios</a>
                    <ul>
                      <% if current_user.perfil.permisos.exists?(:Nombre => "Crear Servicios")%>
                        <li><%= link_to 'Agregar Servicio', new_servicio_path %></li>
                      <%end%>
                      <%if current_user.perfil.permisos.exists?(:Nombre => "Modificar Servicios")%>                            
                        <li><%= link_to 'Modificar Servicio', servicios_path %></li>
                      <%end%>
						</ul>
					</li>

					<li><a href="#">Usuarios</a>
						<ul>
                            <li><%= link_to 'Crear Perfil', new_perfil_path%></li>
                            <li><%= link_to 'Crear Usuario', new_user_path%> </li>
                            <li><%= link_to 'Modificar Perfiles', perfils_path%></li>
                            <li><%= link_to 'Modificar Usuarios', users_path%></li>
						</ul>
					</li>


				</ul>				
                </li>
             <%end%>
             <%if user_signed_in?%>
               <% s = current_user.username + ": Cerrar Sesion"%>
              	<li> <%= link_to s, destroy_user_session_path, :method => "delete" %> </li>
			<%else%>
				<li> <%= link_to 'Iniciar Sesion', new_user_session_path%> </li>
			<%end%>
		</ul>

	</div>


		<div id="BarraDerecha">
			<p> </p>	
		</div>

		<div id="contenidoCentral">
			<%= yield %>
		</div>

		<div id="BarraIzquierda">
			<p> </p>
		</div>

		</div>
		<div id="piedepagina">
			<p> PIE DE PAGINA ¿Donde estas?</p>
		</div>

	</div>

</body>
</html>
