<%= form_for(@cliente_juridico) do |f| %>
  <% if @cliente_juridico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente_juridico.errors.count, "error") %> prohibited this cliente_juridico from being saved:</h2>

      <ul>
      <% @cliente_juridico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NombreEmpresa %><br />
    <%= f.text_field :NombreEmpresa %>
  </div>
  <div class="field">
    <%= f.label :Cargo %><br />
    <%= f.text_field :Cargo %>
  </div>
  <div class="field">
    <%= f.label :Responsable %><br />
    <%= f.text_field :Responsable %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div> 

  <%= f.label :Direccion %>
  <%= f.text_field :Direccion %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
