<p id="notice"><%= notice %></p>

<p>
  <b>Nombreempresa:</b>
  <%= @cliente_juridico.NombreEmpresa %>
</p>

<p>
  <b>Cargo:</b>
  <%= @cliente_juridico.Cargo %>
</p>

<p>
  <b>Responsable:</b>
  <%= @cliente_juridico.Responsable %>
</p>

<p>
  <b>Fax:</b>
  <%= @cliente_juridico.fax %>
</p>


<%= link_to 'Edit', edit_cliente_juridico_path(@cliente_juridico) %> |
<%= link_to 'Back', cliente_juridicos_path %>
